<header>
    <a href="/">Home</a>
    <a href="/qlook">Q-Look</a>
    <a href="/config">Configuration</a>
    <a href="/monitor">Monitor</a>
</header>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header {
        background-color: #90F;
    }

    header a {
        line-height: 2em;
        padding: 10px 10px;
        color: #FF9;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
        border-left: solid #FF9 5px;
    }

</style>
